.counter {
  background: linear-gradient(180deg, #088488, #0ddce3);
  border-radius: 5px;
  border: rgb(62, 68, 88);
  box-shadow: inset 0px 0px 20px 10px rgba(62, 68, 88, 1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  height: 125px;
  width: 140px;
  position: absolute;
  bottom: 20px;

  p {
    color: #f5f3f4;
    padding: 10px 0 20px;
    text-shadow: 5px 3px 5px rgb(38, 57, 77, 0.5);
  }

  .countContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      background-color: transparent;
      border: none;
      font-size: 36px;
      margin: auto;
      color: #f8333c;
    }

    .count {
      color: #f5f3f4;
      font-size: 32px;
    }
  }
}
