.app {
  text-align: center;

  .header {
    color: rgb(38, 57, 77);
    text-shadow: 5px 3px 10px rgba(255,255,255,0.5);
    font-size: 48px;
    padding: 20px 0;
  }

  .team {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px);
    justify-content: center;
    gap: 30px;      
  }
}

